main {
  min-height: 80vh;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.myh2 {
  font-size: 1.1rem;
  padding: 0.5rem 0rem;
}

.dropdown-item:hover {
  background-color: black;
  color: white;
}
